<div class="row" >
  <div class="col-md-9" [ngClass]="{'col-md-6': modoEditar, 'col-md-12': !modoEditar}">
    <div class="card rounded shadow-sm p-3">
      <!-- <p>form valor: {{ registerForm.value | json }}</p>
      <p>form status: {{ registerForm.status | json }}</p> -->
      <form [formGroup]="registerForm" class="row g-3">
          <div class="col-md-8">
            <label for="nome" class="form-label">Nome</label>
            <input
            id="nome"
            required
              type="text"
              class="form-control"
              [ngClass]="cssValidator(f.nome)"
              formControlName="nome"
              placeholder="Nome do Atleta" [(ngModel)]="atleta.nome"
            />
            <div
              *ngIf="f.nome?.hasError('required') && f.nome?.touched"
              class="invalid-feedback"
            >
              O campo NOME é obrigatório!
            </div>
            <div
              *ngIf="f.nome?.hasError('minlength') && f.nome?.touched"
              class="invalid-feedback"
            >
              O campo NOME deve conter o mínimo de 4 caracteres!
            </div>
            <div
              *ngIf="f.nome?.hasError('maxlength') && f.nome?.touched"
              class="invalid-feedback"
            >
              O campo NOME deve conter o máximo de 100 caracteres!
            </div>
          </div>
          <div class="col-md-4">
            <label for="dataNascimento" class="form-label">Data de Nascimento</label>
            <input type="date" class="form-control" [ngClass]="cssValidator(f.dataNascimento)"
              value="{{atleta.dataNascimento }}" formControlName="dataNascimento"
              placeholder="" [(ngModel)]="atleta.dataNascimento">
              <div *ngIf="f.dataNascimento.errors?.required && f.dataNascimento.touched" class="invalid-feedback">
                Data de Nascimento é obrigatório.
              </div>
          </div>
          <div class="col-md-4">
            <label for="apelido" class="form-label">Apelido</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="cssValidator(f.apelido)"
              formControlName="apelido"
              placeholder="Apelido do Atleta"
            />
            <div class="invalid-feedback">O campo APELIDO é obrigatório!</div>
          </div>
          <div class="col-md-4">
            <label for="camisa" class="form-label">Número do Colete</label>
            <input
              type="text"
              class="form-control is-invalid"
              [ngClass]="cssValidator(f.camisa)"
              formControlName="camisa"
              placeholder="Número do Colete"
            />
            <div class="invalid-feedback">
              O campo NUMERO DO COLETE é obrigatório!
            </div>
          </div>
          <div class="col-md-4">
            <label for="posicao" class="form-label">Posição do Atleta</label>

            <select  aria-label="Default select example"
            class="form-control is-invalid"
            [ngClass]="cssValidator(f.posicao)"
            formControlName="posicao"
            >
            <option selected disabled>Selecione a posição </option>
              <option value="0">Goleiro</option>
              <option value="1">Jogador de Linha</option>
            </select>
            <div class="invalid-feedback">
              O campo POSIÇÃO DO ATLETA é obrigatório!
            </div>
          </div>
          <div class="form-check form-switch col-md-4">
            <input
            id="flexSwitchCheckDefault"
              type="checkbox"
              class="form-check-input is-invalid"
              [ngClass]="cssValidator(f.comissao)"
              formControlName="comissao"
              placeholder="O atleta pertence a comissão?"
              value=false
            />
            <label class="form-check-label" for="flexSwitchCheckDefault">
              Pertencente à Comissão ?</label
            >
            <div class="invalid-feedback">O campo COMISSÃO é obrigatório!</div>
          </div>
          <div class="col-md-4">
            <label for="apelido" class="form-label">Telefone</label>
            <input
              type="text"
              class="form-control is-invalid"
              [ngClass]="cssValidator(f.whatsApp)"
              formControlName="whatsApp"
              placeholder="informe o número de telefone válido?"
              [(ngModel)]="atleta.whatsApp"
            />
            <div class="invalid-feedback">O campo TELEFONE é obrigatório!</div>
          </div>
        <div class="card-footer p-3">
          <div class="card">
            <div class="card-body">
              
            <button
              class="btn btn-outline-success card-link btn-pri"
              (click)="salvarAlteracao()"
              [disabled]="!registerForm.valid"
             
            >
              Salvar Alterações
            </button>
            <app-button-voltar
              [titulo]="'atletas'"
              [subtitulo]="'lista'"
              [botaoListar]="true"
              class="btn btn-outline-secondary card-link"
              >
            </app-button-voltar>
                
            </div>
          </div>
        </div>
        
      </form>
    </div>
  </div>

<div class="col-md-3" *ngIf="modoEditar">
  <div [formGroup]="registerForm" class="card-atleta-view shadow-sm">
    <div class="form-row">
      <div class="form-group m-0">
        <input type="file" #file (change)="onFileChange($event)" class="form-control is-invalid" placeholder="" style="display: none">
      </div>
    </div>
    <div class="card profile-card-2">
      <div class="card-img-block">
        <img class="image" [src]="imageUrl" class="img-fluid" (click)="file.click()" alt="Card image cap"
        tooltip="Uplaod de Nova Imagem" [adaptivePosition]="false" placement="bottom" />
      </div>
      <div class="card-body pt-3">
        <h4>{{atleta.nome}}</h4>
        <p class="card-text">
          <b>Apelido:</b> {{ atleta.apelido }}
          <br>
          <b>Nascimento:</b> {{atleta.dataNascimento | DateTimeFormatPipe }}
        </p>
        <hr>
        <p class="card-text">
          <b>Contatos</b><br>
          <small class="text-muted">Telefone: {{atleta.whatsApp}}</small>
          <br>
        </p>

        <div class="row">
          <div class="icon-block col-md-8 iconesSociais">
            <a href="">
              <i class=""></i>
            </a>
          </div>
          <!--div class="col-md-4 d-flex justify-content-center">
            <a href="#" class="btn btn-outline-primary">Participar</a>
          </div-->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<!--MODAL-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">This is a modal.</div>
</ng-template>
