<div class="card rounded-3 shadow-sm p-3">
  <div class="form-control-lg">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        class="btn btn-primary"
        type="button"
        (click)="openModal($event, template)"
      >
        <i class="fa fa-plus"></i>
        <b class="ml-1 me-2 p-3">Novo Registro</b>
      </button>

    </div>
  </div>
  <!-- <p>form valor: {{ atletas | json }}</p> -->
  <table class="table table-striped table-hover">
    <thead class="tread-dark">
      <tr>
        <th class="d-none d-md-table-cell">#</th>
        <th>Credor Status</th>
        <th>Vencimento</th>
        <th>Pagamento Status</th>
        <th >Valor</th>
        <th>Detalhes</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
      <tr >
        <td class="d-none d-md-table-cell">

        </td>
        <td class="d-none d-md-table-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="d-none d-md-table-cell comissao">
         
        </td>
        <td></td>
        <td>
          <div>
            <button
              type="submit"
              id="edit"
              aria-label=""
              class="btn btn-primary"
              tooltip="Editar"
              
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              type="submit"
              id="trash"
              aria-label=""
              class="btn btn-danger"
              tooltip="Deletar"
             
            > <!-- (click)="openModal($event, templateDel, atleta.atletaId)" -->
              <i class="fa fa-trash"> </i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot >
      <tr>
        <td colspan="8" class="text-center alert">
          <div class="alert alert-warning" role="alert">
            Nenhum registro encontrato!
          </div>
        </td>
      </tr>
    </tfoot>
  </table>

  <ng-template #template>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Adicionar Registro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="decline()"></button>
        </div>
        <div class="modal-body">
          <p>This is some placeholder content to show a vertically centered modal. We've added some extra copy here to show how vertically centering the modal works when combined with scrollable modals. We also use some repeated line breaks to quickly extend the height of the content, thereby triggering the scrolling. When content becomes longer than the prefedined max-height of modal, content will be cropped and scrollable within the modal.</p>
          <br><br><br><br><br><br><br><br>
          <p>Just like that.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="confirm()">
            <i class="fas fa-save"></i> Salvar
          </button>
          <button type="button" class="btn btn-primary" (click)="decline()">
            <i class="fas fa-times-circle"></i> Cancelar
          </button>
          <button
          class="btn btn-info"
          type="button"
          routerLink="/controle/detalhes"
        >
          <i class="fab fa-buffer"></i>
          <b class="ml-1 me-2 p-3">Categoria</b>
        </button>
        </div>
      </div>
  </ng-template>
</div>
