<div class="card rounded-3 shadow-sm p-3">
  <div class="form-control-lg">
    <div class="row g-2">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          class="btn btn-primary"
          type="button"
          routerLink="/atletas/detalhes"
        >
          <i class="fa fa-plus"></i>
          <b class="ml-1 me-2 p-3">Novo</b>
        </button>
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text p-3">
            <i class="fa fa-search"> </i>
            Filtro:
          </div>
        </div>
        <input
          type="text"
          class="form-control"
          id="buscar"
          placeholder=" Localizar "
          [(ngModel)]="filtroLista"
        />
      </div>
      <div class="textBusca">
        <span>{{ filtroLista }}</span>
      </div>
    </div>
  </div>
  <!-- <p>form valor: {{ atletas | json }}</p> -->
  <table class="table table-striped table-hover">
    <thead class="tread-dark">
      <tr>
        <th class="d-none d-md-table-cell">
          <button
            type="button"
            class="btn btn-primary mb-3"
            (click)="mostrarImagem()"
            tooltip="mostrar Imagem"
          >
            <i class="{{ exibirImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}">
            </i>
            <samp> {{ exibirImagem ? "ocultar" : "exibir" }}</samp>
          </button>
        </th>
        <th class="d-none d-md-table-cell">#</th>
        <th>Nome</th>
        <th>Camisa</th>
        <th>Data Nascimento</th>
        <th >Comissão?</th>
        <th>WhatsApp</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="atletas && atletas.length">
      <tr *ngFor="let atleta of atletas">
        <td class="d-none d-md-table-cell">
          <img
            *ngIf="exibirImagem"
            [src]="mostraImagem(atleta.imageUrl)"
            [style.width.px]="imageLargura"
            [style.margin.px]="imageMargin"
            alt=""
          />
        </td>
        <td class="d-none d-md-table-cell">{{ atleta.atletaId }}</td>
        <td>{{ atleta.nome }}</td>
        <td>{{ atleta.camisa }}</td>
        <td>{{ atleta.dataNascimento | DateTimeFormatPipe }}</td>
        <td class="d-none d-md-table-cell comissao">
          <i
            class="{{
              atleta.comissao
                ? 'text-success fas fa-thumbs-up '
                : 'text-danger fas fa-thumbs-down'
            }}"
          ></i>
        </td>
        <td>{{ atleta.whatsApp }}</td>
        <td>
          <div>
            <button
              type="submit"
              id="edit"
              aria-label=""
              class="btn btn-primary"
              tooltip="Editar"
              (click)="openDetalhes(atleta.atletaId)"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              type="submit"
              id="trash"
              aria-label=""
              class="btn btn-danger"
              tooltip="Deletar"
              (click)="openModal($event, templateDel, atleta.atletaId)"
            >
              <i class="fa fa-trash"> </i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!atletas.length">
      <tr>
        <td colspan="7" class="text-center alert">
          <div class="alert alert-warning" role="alert">
            Nenhum atleta encontrado!
          </div>
        </td>
      </tr>
    </tfoot>
  </table>

  <ng-template #templateDel>
    <div class="modal-body text-center">
      <p>
        Tem certeza que deseja deletar esse Atleta com código
        {{ this.atletaId }}?
      </p>
      <button type="button" class="btn btn-default" (click)="confirm()">
        Sim
      </button>
      <button type="button" class="btn btn-primary" (click)="decline()">
        Não
      </button>
    </div>
  </ng-template>
</div>
