@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");

.textBusca {
  font-family: "Dosis", sans-serif;
  margin-left: 2em;
  font-size: 2vw;
  color: brown;
}

.comissao {
  text-align: center;
  font-size: 2em;
}
