USE [solnascente]
GO
/****** Object:  Table [dbo].[TBAtleta]    Script Date: 27/09/2021 23:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBAtleta](
	[idAtleta] [int] IDENTITY(1,1) NOT NULL,
	[nomeAtleta] [nvarchar](40) NOT NULL,
	[sobrenomeAtleta] [nvarchar](60) NOT NULL,
	[apelidoAtleta] [nvarchar](50) NOT NULL,
	[coleteNumeroAtleta] [int] NULL,
	[nascimentoAtleta] [datetime2](7) NULL,
	[idSituacaoAtleta] [int] NOT NULL,
	[telefoneAtleta] [nchar](10) NULL,
	[dataCadastroAtleta] [datetime] NULL,
	[posicaoAtleta] [int] NULL,
	[comissaoAtleta] [int] NULL,
 CONSTRAINT [PK_TBAtleta] PRIMARY KEY CLUSTERED 
(
	[idAtleta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBCategoria]    Script Date: 27/09/2021 23:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCategoria](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nomeCategoria] [nvarchar](40) NULL,
	[dataCadastroCategoria] [datetime] NULL,
 CONSTRAINT [PK_TBCategoria] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBMensalidade]    Script Date: 27/09/2021 23:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBMensalidade](
	[idMensalidade] [int] IDENTITY(1,1) NOT NULL,
	[idAtletaMensalidade] [int] NOT NULL,
	[statusMensalidade] [int] NOT NULL,
	[dataMensalidade] [datetime2](7) NOT NULL,
	[dataCadastroMensalidade] [datetime] NOT NULL,
	[valorMensalidade] [money] NOT NULL,
 CONSTRAINT [PK_TBMensalidade] PRIMARY KEY CLUSTERED 
(
	[idMensalidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBRegistro]    Script Date: 27/09/2021 23:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBRegistro](
	[idRegistro] [int] NOT NULL,
	[idMensalidadeRegistro] [int] NOT NULL,
	[nomeCredorRegistro] [nvarchar](50) NULL,
	[idNomeAtleta] [int] NULL,
	[dataCadastroRegistro] [datetime] NOT NULL,
	[idTipoPagamentoRegistro] [int] NOT NULL,
	[idCategoriaRegistro] [int] NOT NULL,
	[observacaoRegistro] [nvarchar](150) NULL,
	[dataPagamento] [datetime2](7) NOT NULL,
	[valorPagamento] [nvarchar](10) NOT NULL,
	[valorDesconto] [nvarchar](10) NULL,
	[valorSaldo] [nvarchar](10) NULL,
 CONSTRAINT [PK_TBRegistro] PRIMARY KEY CLUSTERED 
(
	[idRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSituacao]    Script Date: 27/09/2021 23:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSituacao](
	[idSituacao] [int] IDENTITY(1,1) NOT NULL,
	[nomeSituacao] [nvarchar](30) NULL,
	[dataCastrodoSituacao] [datetime] NULL,
 CONSTRAINT [PK_TBSituacao] PRIMARY KEY CLUSTERED 
(
	[idSituacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBTipoPagamento]    Script Date: 27/09/2021 23:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBTipoPagamento](
	[idTipoPagemento] [int] IDENTITY(1,1) NOT NULL,
	[nomeTipoPagamento] [varchar](30) NULL,
 CONSTRAINT [PK_TBTipoPagamento] PRIMARY KEY CLUSTERED 
(
	[idTipoPagemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBCategoria] ON 

INSERT [dbo].[TBCategoria] ([idCategoria], [nomeCategoria], [dataCadastroCategoria]) VALUES (0, N'Arbitragem', CAST(N'2021-09-26T08:10:21.440' AS DateTime))
INSERT [dbo].[TBCategoria] ([idCategoria], [nomeCategoria], [dataCadastroCategoria]) VALUES (1, N'Mensalidade', NULL)
INSERT [dbo].[TBCategoria] ([idCategoria], [nomeCategoria], [dataCadastroCategoria]) VALUES (2, N'Cartão Azul', NULL)
SET IDENTITY_INSERT [dbo].[TBCategoria] OFF
GO
SET IDENTITY_INSERT [dbo].[TBTipoPagamento] ON 

INSERT [dbo].[TBTipoPagamento] ([idTipoPagemento], [nomeTipoPagamento]) VALUES (1, N'Crédito')
INSERT [dbo].[TBTipoPagamento] ([idTipoPagemento], [nomeTipoPagamento]) VALUES (2, N'Débito')
INSERT [dbo].[TBTipoPagamento] ([idTipoPagemento], [nomeTipoPagamento]) VALUES (3, N'Cancelado')
SET IDENTITY_INSERT [dbo].[TBTipoPagamento] OFF
GO
ALTER TABLE [dbo].[TBAtleta] ADD  CONSTRAINT [DF_TBAtleta_situacaoAtleta]  DEFAULT ((1)) FOR [idSituacaoAtleta]
GO
ALTER TABLE [dbo].[TBAtleta] ADD  CONSTRAINT [DF_TBAtleta_posicaoAtleta]  DEFAULT ((1)) FOR [posicaoAtleta]
GO
ALTER TABLE [dbo].[TBAtleta] ADD  CONSTRAINT [DF_TBAtleta_comissaoAtleta]  DEFAULT ((0)) FOR [comissaoAtleta]
GO
ALTER TABLE [dbo].[TBAtleta]  WITH CHECK ADD  CONSTRAINT [FK_TBAtleta_TBSituacao] FOREIGN KEY([idSituacaoAtleta])
REFERENCES [dbo].[TBSituacao] ([idSituacao])
GO
ALTER TABLE [dbo].[TBAtleta] CHECK CONSTRAINT [FK_TBAtleta_TBSituacao]
GO
ALTER TABLE [dbo].[TBMensalidade]  WITH CHECK ADD  CONSTRAINT [FK_TBMensalidade_TBAtleta] FOREIGN KEY([idAtletaMensalidade])
REFERENCES [dbo].[TBAtleta] ([idAtleta])
GO
ALTER TABLE [dbo].[TBMensalidade] CHECK CONSTRAINT [FK_TBMensalidade_TBAtleta]
GO
ALTER TABLE [dbo].[TBRegistro]  WITH CHECK ADD  CONSTRAINT [FK_TBRegistro_TBCategoria] FOREIGN KEY([idCategoriaRegistro])
REFERENCES [dbo].[TBCategoria] ([idCategoria])
GO
ALTER TABLE [dbo].[TBRegistro] CHECK CONSTRAINT [FK_TBRegistro_TBCategoria]
GO
ALTER TABLE [dbo].[TBRegistro]  WITH CHECK ADD  CONSTRAINT [FK_TBRegistro_TBMensalidade] FOREIGN KEY([idMensalidadeRegistro])
REFERENCES [dbo].[TBMensalidade] ([idMensalidade])
GO
ALTER TABLE [dbo].[TBRegistro] CHECK CONSTRAINT [FK_TBRegistro_TBMensalidade]
GO
ALTER TABLE [dbo].[TBRegistro]  WITH CHECK ADD  CONSTRAINT [FK_TBRegistro_TBTipoPagamento] FOREIGN KEY([idTipoPagamentoRegistro])
REFERENCES [dbo].[TBTipoPagamento] ([idTipoPagemento])
GO
ALTER TABLE [dbo].[TBRegistro] CHECK CONSTRAINT [FK_TBRegistro_TBTipoPagamento]
GO
