
<nav class="navbar navbar-expand-md navbar-light shadow-sm" style="background-color: #e3f2fd;" *ngIf="showMenu()">
  <div class="container">

    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="far fa-futbol"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="atletas">Atletas</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="controle">Controle</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="mensalidade">Mensalidade</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle class="nav-link dropdown-toggle " style="cursor: pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Vinícius
            </a>
            <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="user/perfil">
                Perfil
              </a>
              <div role="separator" class="divider"></div>
              <a class="dropdown-item" routerLink="user/login">
                Sair
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </nav>
