<div class="row g-2">
  <div class="col-auto">
    <label for="buscar">Filtro:</label>
    <input
      type="text"
      class="form-control"
      id="buscar"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>
<h4>{{ filtroLista }}</h4>
<table class="table table-striped">
  <thead class="tread-dark">
    <tr>
      <th>
        <button
          type="button"
          class="btn btn-primary mb-3"
          (click)="mostrarImagem()"
          tooltip="mostrar Imagem"
        >
          <i class="{{ exibirImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}"> </i
          >Imagem
        </button>
      </th>
      <th>#</th>
      <th>Nome</th>
      <th>Camisa</th>
      <th>Data Nascimento</th>
      <th>Comissão?</th>
      <th>WhatsApp</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="atletas && atletas.length">
    <tr *ngFor="let atleta of atletas">
      <td>
        <img
          *ngIf="exibirImagem"
          src="https://localhost:5001/image/{{ atleta.imageUrl }}"
          [style.width.px]="imageLargura"
          [style.margin.px]="imageMargin"
          alt=""
        />
      </td>
      <td>{{ atleta.atletaId }}</td>
      <td>{{ atleta.nome }}</td>
      <td>{{ atleta.camisa }}</td>
      <td>{{ atleta.dataNascimento | DateTimeFormatPipe }}</td>
      <td>
        <i
          class="{{
            atleta.comissao
              ? 'fa fa-thumbs-o-up fa-2x'
              : 'fa fa-thumbs-o-down fa-2x'
          }}"
        ></i>
      </td>
      <td>{{ atleta.whatsApp }}</td>
      <td>
        <div class="btn-group">
          <button
            type="submit"
            id="edit"
            aria-label=""
            class="btn btn-sm btn-info mb-3"
            tooltip="Editar"
            (click)="openModal(template)"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button
            type="submit"
            id="trash"
            aria-label=""
            class="btn btn-sm btn-danger mb-3"
            tooltip="Deletar"
          >
            <i class="fa fa-trash"> </i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!atletas.length">
    <tr>
      <td colspan="7" class="text-center alert">
        <div class="alert alert-warning" role="alert">
          Nenhum atleta encontrado!
        </div>
      </td>
    </tr>
  </tfoot>
</table>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">This is a modal.</div>
</ng-template>

<form [formGroup]="registerForm">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label></label>
      <input
        type="text"
        class="form-control is-invalid"
        formControlName="imageUrl"
      />
      <div class="invalid-feedback">O campo IMAGEM é obrigatório!</div>
    </div>
    <div class="form-group col-md-8">
      <label>Nome</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            registerForm.get('nome')?.errors &&
            registerForm.get('nome')?.touched
        }"
        formControlName="nome"
        placeholder="Nome do Atleta"
      />
      <div
        *ngIf="
          registerForm.get('nome')?.hasError('required') &&
          registerForm.get('nome')?.touched
        "
        class="invalid-feedback"
      >
        O campo NOME é obrigatório!
      </div>
      <div
        *ngIf="
          registerForm.get('nome')?.hasError('minlength') &&
          registerForm.get('nome')?.touched
        "
        class="invalid-feedback"
      >
        O campo NOME deve conter o mínimo de 4 caracteres!
      </div>
      <div
        *ngIf="
          registerForm.get('nome')?.hasError('maxlength') &&
          registerForm.get('nome')?.touched
        "
        class="invalid-feedback"
      >
        O campo NOME deve conter o máximo de 100 caracteres!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Apelido</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            registerForm.get('apelido')?.errors &&
            registerForm.get('apelido')?.touched
        }"
        formControlName="apelido"
        placeholder="Apelido do Atleta"
      />
      <div class="invalid-feedback">O campo APELIDO é obrigatório!</div>
    </div>
    <div class="form-group col-md-4">
      <label>Número do Colete</label>
      <input
        type="text"
        class="form-control is-invalid"
        [ngClass]="{
          'is-invalid':
            registerForm.get('camisa')?.errors &&
            registerForm.get('camisa')?.touched
        }"
        formControlName="camisa"
        placeholder="Número do Colete"
      />
      <div class="invalid-feedback">
        O campo NUMERO DO COLETE é obrigatório!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Posição do Atleta</label>
      <input
        type="text"
        class="form-control is-invalid"
        [ngClass]="{
          'is-invalid':
            registerForm.get('posicao')?.errors &&
            registerForm.get('posicao')?.touched
        }"
        formControlName="posicao"
        placeholder="Posição de Jogo do Atleta"
      />
      <div class="invalid-feedback">
        O campo POSIÇÃO DO ATLETA é obrigatório!
      </div>
    </div>
    <div class="form-group col-md-9">
      <label>Comissão?</label>
      <input
        type="text"
        class="form-control is-invalid"
        [ngClass]="{
          'is-invalid':
            registerForm.get('posicao')?.errors &&
            registerForm.get('posicao')?.touched
        }"
        formControlName="comissao"
      />
      <div class="invalid-feedback">O campo COMISSÃO é obrigatório!</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Telefone</label>
      <input
        type="text"
        class="form-control is-invalid"
        formControlName="whatsApp"
      />
      <div class="invalid-feedback">O campo TELEFONE é obrigatório!</div>
    </div>
    <div class="form-group col-md-8">
      <label>Data de Nascimento</label>
      <input
        type="text"
        class="form-control is-invalid"
        formControlName="dataNascimento"
      />
      <div class="invalid-feedback">
        O campo DATA DE NASCIMENTO é obrigatório!
      </div>
    </div>
  </div>
</form>
<br />
<button class="btn btn-secondary" (click)="openModal(template)">Fechar</button>
<button class="btn btn-primary" (click)="salvarAlteracao()">
  Salvar Alterações
</button>
<br />
<br />
